#navbar .Logo{
    float: none;
    text-align: center;
}

#navbar ul {
    float: none;
    text-align: center;
}

#navbar ul li{
    float: none;
    text-align: center;
   
}
#navbar ul li a{
    padding: 5px;
    border-bottom:#fff dotted 1px;
}
#Home-info .info-img{
   display: none;
}
.info-content{
    float: none;
    text-align: center;
    width: 100%;
}
.Box{
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    
    
}       
/* About  */
#about-info .left-info{
    float: none;
    text-align: center;
}
#about-info .info-right{
    float: none;
    text-align: center;
}
#about-info{
    text-align: center;
}
.left-info p{
    text-align: center;
    padding-left: 70px;
}
#testimetals .container{
    width: 100%;
    height: 100%;
}
.left-info h1{
    padding-left: 70px;
    text-align: center;
}
.Box-conatact{
    float: none;
    text-align: center;
    border-bottom: #fff dotted 1px;
    background: rgb(10, 5, 5);
    margin: 0%;
    padding: 0%;
}
