#navbar .Logo{
    float: none;
    text-align: center;
}

#navbar ul {
    float: none;
    text-align: center;
}

#navbar ul li{
    float: none;
    text-align: center;
   
}
#navbar ul li a{
    padding: 5px;
    border-bottom:#fff dotted 1px;
}
#Home-info .info-img{
   display: none;
}
.info-content{
    float: none;
    text-align: center;
    width: 100%;
}
.Box{
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    
    
}       
/* About  */
#about-info .left-info{
    float: none;
    text-align: center;
}
#about-info .info-right{
    float: none;
    text-align: center;
}
#about-info{
    text-align: center;
}
.left-info p{
    text-align: center;
}
